@font-face {
    font-family: AvenirRoman;
    src: url(../font/Avenir-roman.ttf);
  }
  
  @font-face {
    font-family: AvenirMedium;
    src: url(../font/Avenir-medium.ttf);
  }
  
  @font-face {
    font-family: AvenirBlack;
    src: url(../font/Avenir\ -black.ttf);
  }

:root {
  /* Kleuren */
    --body-color: #e4e9f7;
    --primary-color: #fff;
    --accent-color: #ff0000;
    --accent-color-light: #f6f5ff;
    --text-color: #707070;
    --selection-color: #000;
  
    /* Padding */
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --border-hover: 0.1rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  
    /* Font */
    --code-font: "Source Code Pro", monospace;
    --primary-font: "Avenir-roman", "Montserrat", "Poppins", sans-serif;
    --line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: var(--primary-font);
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
}

h1 {
  font-size: 2em;
}

::selection {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

main {
  margin-left: 270px;
}

section {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: 0.5s;
  padding: 4em;
}

section *:not(h1) {
  margin-left: 20px;
}

p {
  line-height: var(--line-height);
  font-size: 16px;
  max-width: 35em;
}

code {
  display: block;
  font-family: var(--code-font);
  white-space: pre;
  background-color: darkslategray;
  color: rgb(188, 178, 125);
  max-width: 35em;
  border-radius: 10px;
  line-height: var(--line-height);
}

#logos table, #logos tr, #logos td {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  border-collapse: collapse;
}

#logos td {
  padding: 20px 0;
  padding-right: 50px;
}